{%extends "Secretary/base.html"%}
{% block body_block %}
{% load i18n widget_tweaks %}
{% load static %}
<form method="post">
  {%csrf_token%}
  <br><br><br><br><br><br>
  <div data-background="{% static 'assets/img/shape/footer_bg.png' %}"
    <div class="container">
      <h1>PEC University of Technology</h1>
      <h5><u>PERFORMA FOR BOOKING OF AUDITORIUM BY CLUBS/SOCIETIES/NSS/NCC</u></h5><br>
      <p><strong>Name of Club or Technical Society :&ensp; </strong>{{instance.name_of_club_or_technical_society}}</p>
      <p><strong>Event Name :&ensp; </strong>{{instance.event_name}}</p>
      <p><strong>Date :&ensp; </strong>{{instance.date}}</p>
      <p><strong>Time from :&ensp; </strong>{{instance.time_from}}</p>
      <p><strong>Time To :&ensp; </strong>{{instance.time_to}}</p>
      <p><strong>Brief Event Description :&ensp; </strong>{{instance.brief_event_description}}</p>
      <p><strong>Secretary name :&ensp; </strong>{{instance.secretary_name}}</p>
      <p><strong>Secretary SID :&ensp; </strong>{{instance.secretary_SID}}</p>
      <p><strong>OI Approval :&ensp; </strong>{{instance.OI_approval}}</p>
      <p><strong>CDGC Approval :&ensp; </strong>{{instance.CDGC_approval}}</p>
      <p><strong>DA Approval :&ensp; </strong>{{instance.DA_approval}}</p>
      <p><strong>DSA Approval :&ensp; </strong>{{instance.DSA_approval}}</p>
      <p><strong>Reason for Disapproval :&ensp; </strong>{{instance.reason_for_disapproval}}</p>
      <p><em>Note :&ensp; Organizing Club/Society/NSS/NCC will be responsible for any kind of damage or breakage.</em></p><br>
      <!-- <input type="submit" class="btn hero-btn" value="Print"> -->
    </div>
  </div>
</form>
{%endblock%}
